<!-- 
<template name="AppNav">
    <div class="app-nav">
        {{#if isInRole 'operator-user'}}
            <ul>
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="/operator/pilots"><i class="fa fa-users"></i> <span>Gestione piloti</span></a></li>
            </ul>
        {{/if}}
        {{#if isInRole 'pilot-user'}}
            <ul>
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="/operator/pilots"><i class="fa fa-users"></i> <span>Dati personali</span></a></li>
            </ul>
        {{/if}}
        <ul>
        {{#if currentUser}}
                <li><br></li>
                <li class="logout"><a> <i class="fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></a></li>
        {{else}}
                <li class="login-toggle"><a><i class="fa fa-sign-in" aria-hidden="true"></i><span>Login/Sign-Up</span></a></li>
        {{/if}}
        </ul>
    </div>
</template> -->

<template name="AppNav">
        <ion-tabs>
                <ion-tab tab="tab-dashboard">
                    <ion-nav></ion-nav>
                </ion-tab>

                <ion-tab tab="tab-missions">
                  <ion-nav></ion-nav>
                </ion-tab>
              
                <ion-tab tab="tab-pilots">
                  <ion-nav></ion-nav>
                </ion-tab>
              
                <ion-tab tab="tab-drones" component="page-map">
                  <ion-nav></ion-nav>
                </ion-tab>
              
                <ion-tab tab="tab-about" component="page-about">
                  <ion-nav></ion-nav>
                </ion-tab>
              
                <ion-tab-bar slot="bottom">
                    <ion-tab-button tab="tab-dashboard" class="dashboard">
                        <ion-icon name="speedometer"></ion-icon>
                        <ion-label>Dashboard</ion-label>
                    </ion-tab-button>

                  <ion-tab-button tab="tab-missions" class="missions">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-label>Missioni</ion-label>
                    <ion-badge>{{missionsCount}}</ion-badge>
                  </ion-tab-button>
              
                  <ion-tab-button tab="tab-pilots" class="pilots">
                    <ion-icon name="contacts"></ion-icon>
                    <ion-label>Piloti</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button tab="tab-drones" class="drones">
                    <ion-icon name="jet"></ion-icon>
                    <ion-label>Droni</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button tab="tab-about" class="logout">
                    <ion-icon name="log-out"></ion-icon>
                    <ion-label>Logout</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              
              </ion-tabs>
</template>
